th, td{
    padding: 10px;
}

.tabela {
    background-color: #ffffff;
    color: #ffffff;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.fundo-tabela {
    background-color: #424250;
}